@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/* css variables */
:root {
  --font-size: 20px;
}

/* defaults */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: var(--font-size);
  font-family: "Macondo", cursive, serif;
}

img {
  width: 20em;
}