@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");

/* css variables */
:root {
  --font-size: 20px;
  --primary-bgColor: rgb(78, 22, 151);
  --primary-bgColor-opac: rgba(78, 22, 151, 0.65);
  --primary-textColor: rgb(236, 232, 223);
  --secondary-textColor: rgb(121, 68, 219);
}

/* defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  color: var(--primary-textColor);
  font-size: var(--font-size);
  font-family: "Macondo", cursive, serif;
}

/* navbar */
.navbar {
  height: 40px;
  background-color: var(--primary-bgColor);
  position: fixed;
  top: 0%;
  width: 100%;
}
.navbar nav {
  height: inherit;
}
.nav {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav li {
  text-align: center;
  width: 15em;
  height: inherit;
  list-style-type: none;
}
.nav li:hover {
  background-color: rgb(109, 9, 190);
}
.nav a {
  text-decoration: none;
  color: var(--primary-textColor);
  font-size: 1.5rem;
}
.mobile {
  display: none;
}
.mobile img {
  width: 30px;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

/* Intro */
.intro {
  background-image: url(./intro-bg.jpg);
  background-position: 52% 60%;
  height: 40rem;
  margin-top: 2rem;
  text-align: center;
}
.intro h1 {
  color: var(--primary-textColor);
  padding: 0.8em;
  font-size: 7.5rem;
  text-shadow: 0 0 3px black;
}

@media only screen and (max-width: 1000px) {
  .intro {
    height: 35rem;
  }
  .intro h1 {
    font-size: 4.5rem;
    padding: 1em 0.5em;
    overflow: hidden;
    /* text-overflow: ellipsis; */
  }
}

@media only screen and (max-width: 760px) {
  .intro {
    height: 25rem;
  }
  .intro h1 {
    font-size: 4.5rem;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 450px) {
  .intro {
    height: 15rem;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
}

/* quote */
.quote {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 2px black inset;
}
.quote p {
  color: var(--secondary-textColor);
  font-size: 5rem;
  text-align: left;
}
.quote img {
  border-radius: 1em;
  width: 55%;
  margin: 1em;
  box-shadow: 0 0 5px 2px black;
}

@media only screen and (max-width: 1000px) {
  .quote p {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 760px) {
  .quote p {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .quote p {
    font-size: 1.5rem;
  }
}

/* community */
.community {
  background-color: var(--primary-bgColor);
  padding: 1em;
}
.community h2 {
  text-align: center;
  font-size: 3rem;
}
.community div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}
.community img {
  max-width: 30%;
  min-width: 400px;
}

/* outro */
.outro {
  background-image: url("./outro-bg.jpg");
  background-position: 50% 60%;
  height: 40rem;
  display: flex;
  align-items: center;
}
.outro div {
  width: 45%;
  padding: 1.5em;
  background-color: var(--primary-bgColor-opac);
  border-radius: 0 1em 1em 0;
}
.outro h2 {
  font-size: 4em;
}

@media only screen and (max-width: 1000px) {
  .outro {
    background-position: 68% 72%;
    height: 40rem;
  }
  .outro h2 {
    font-size: 3em;
  }
}

@media only screen and (max-width: 760px) {
  .outro {
    background-position: 68% 72%;
    height: 20rem;
  }
  .outro h2 {
    font-size: 2em;
  }
}

@media only screen and (max-width: 450px) {
  .outro {
    background-position: 68% 72%;
    height: 20rem;
  }
  .outro h2 {
    font-size: 1em;
  }
}

/* footer */
footer {
  height: 2em;
  background-color: var(--primary-bgColor);
  display: flex;
  justify-content: center;
  align-items: center;
}